/* Master styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2.5vw;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
    font-size: 1vw;
}

.nav-wrapper > .left-side > div {
    margin-right: 2vw;
    font-size: 1vw;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 2vw;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 1s, margin 1s;
}

.nav-link-wrapper:hover {
    border-bottom: 0.1vh solid black;
}

.nav-link-wrapper a:hover {
    color: black;
    margin: 2vh;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio styles */
.portfolio-items-wrapper {
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 75vh;
    width: 25vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1vw;
    transition: transform .5s, filter .5s;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    transition: transform .5s;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.portfolio-item-wrapper:hover .portfolio-img-background {
    transform: scale(1.2);
    filter: brightness(50%);
}

.portfolio-item-wrapper:hover .img-text-wrapper {
    transform: scale(1.2);
}

.img-text-wrapper .subtitle {
    font-size: 2vw;
    color: transparent;
    transition: color 0.5s;
}

.portfolio-item-wrapper :hover .img-text-wrapper .subtitle{
    color: lightskyblue;
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 50vw;
    height: flex;
    margin: 1vw;
    border-radius: 25px;
}

.profile-content-wrapper {
    font-size: 1vw;
}

.profile-content-wrapper h2, p {
    font-size: 1vw
}

.profile-content-wrapper h1 {
    color: lightskyblue;
    font-size: 2vw;
}

/* Spotify Page */
.three-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.spotify-song-wrapper {
    position: relative;
}

/* Blog Pages */

.blog-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-toc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-toc-container div {
    margin: 1vw;
    font-size: 2vw;
}

.blog-toc-container h1 {
    color: lightskyblue;
    font-size: 3vw;
}

.blog-toc-container div:hover {
    transform: scale(1.2);
}

.blog-text-container div {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5vw;
    font-size: 1vw;
}

.blog-text-container p, a {
    color: black;
}

.blog-text-container h1 {
    color: lightskyblue;
    font-size: 3vw;
}

.blog-text-container h2 {
    color: black;
    font-size: 2vw;
}


